Repository dylanwe/smartship: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_TOKEN_FE}
  - cd frontend
  - railway up --service=smartship-fe-app -d

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_TOKEN_BE}
  - cd backend
  - railway up --service=smartship-be-app -d

allow user to set a dashboard
  backend/src/main/java/com/smartship/backend/app/models/User.java
Due: deploy_be

delete package-lock.json
  frontend/package-lock.json
Due: deploy_fe

remove whitespace
  frontend/src/pages/DashboardPage.vue
Due: deploy_fe

remove whitespace
  backend/src/main/java/com/smartship/backend/app/models/Dashboard.java
Due: deploy_be

Notification sprint 4
  backend/src/main/java/com/smartship/backend/app/models/Notification.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  frontend/src/components/dashboard/notification/NotificationsDetail.vue
  frontend/src/models/notifications/Notification.js
  frontend/src/pages/NotificationPage.vue
  frontend/src/services/NotificationService.js
Due: deploy_fe, deploy_be

Notification sprint 4
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  frontend/src/App.vue
  frontend/src/models/notifications/Notification.js
  frontend/src/pages/NotificationPage.vue
  frontend/src/services/NotificationService.js
Due: deploy_fe, deploy_be

fix sout error, preventing data digest
  backend/src/main/java/com/smartship/backend/app/rest/ShipController.java
Due: deploy_be

added more data and fix
  backend/src/main/java/com/smartship/backend/app/config/InitialDataImpl.java
Due: deploy_be

fixed modal bug, deleted a graph in the profile page
  frontend/src/components/modals/AddToDoModal.vue
  frontend/src/components/modals/EditToDoModal.vue
  frontend/src/pages/ProfilePage.vue
Due: deploy_fe

Backend tests userManagement
  backend/src/test/java/com/smartship/backend/app/repositories/UserManagementRepositoryTest.java
  backend/src/test/java/com/smartship/backend/app/rest/UserManagementControllerTest.java
Due: deploy_be

changed to deconstructing for jwtToken
  frontend/src/services/SessionSbService.js
Due: deploy_fe

Notification dynamic
  backend/src/main/java/com/smartship/backend/app/config/InitialDataImpl.java
  backend/src/main/java/com/smartship/backend/app/models/Notification.java
  backend/src/main/java/com/smartship/backend/app/models/SensorData.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  backend/src/main/java/com/smartship/backend/app/rest/ShipController.java
  backend/src/main/java/com/smartship/backend/app/utility/ThresholdNotificationHandler.java
  frontend/src/pages/NotificationPage.vue
Due: deploy_fe, deploy_be

removed not used links
  frontend/src/components/dashboard/SidebarComponent.vue
Due: deploy_fe

put shipId in the user model
  frontend/src/components/dashboard/widgets/WidgetLibraryComponent.vue
  frontend/src/models/User.js
  frontend/src/pages/DashboardPage.vue
Due: deploy_fe

notifications dynamic in profile page, added some tests
  backend/package-lock.json
  backend/src/main/java/com/smartship/backend/app/models/ToDo.java
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  backend/src/main/java/com/smartship/backend/app/rest/ToDoController.java
  backend/src/test/java/com/smartship/backend/app/repositories/DashboardRepositoryTest.java
  backend/src/test/java/com/smartship/backend/app/repositories/RefreshTokenRepositoryTest.java
  backend/src/test/java/com/smartship/backend/app/repositories/ToDoRepositoryTest.java
  backend/src/test/java/com/smartship/backend/app/repositories/UserRepositoryTest.java
  backend/src/test/java/com/smartship/backend/app/rest/AuthenticationControllerTest.java
  frontend/src/pages/ProfilePage.vue
  frontend/src/services/NotificationService.js
  frontend/src/services/UserAdapter-InMemory.js
  frontend/src/services/toDoAdapter-InMemory.js
Due: deploy_fe, deploy_be

Front end tests
  frontend/src/components/modals/EditAccountModal.vue
  frontend/src/components/modals/ManagerPanelModals.spec.js
  frontend/src/models/Ship.js
  frontend/src/pages/ManagerPage.spec.js
  frontend/src/pages/ManagerPage.vue
  frontend/src/services/shipAdapter-InMemory.js
  frontend/src/services/userManagementAdapter-InMemory.js
Due: deploy_fe

Fix for back-end test when running all tests at the same time
  backend/src/test/java/com/smartship/backend/app/rest/UserManagementControllerTest.java
Due: deploy_be

fix engineusage wrong chart display
  backend/src/main/java/com/smartship/backend/app/config/InitialDataImpl.java
Due: deploy_be

Javadocs and clean up
  backend/src/main/java/com/smartship/backend/app/rest/DashboardController.java
Due: deploy_be

fix user when ship doesnt exist
  frontend/src/models/User.js
Due: deploy_fe

Notification bug fixes
  backend/src/main/java/com/smartship/backend/app/config/InitialDataImpl.java
  backend/src/main/java/com/smartship/backend/app/models/SensorData.java
  backend/src/main/java/com/smartship/backend/app/models/ShipSensor.java
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  backend/src/main/java/com/smartship/backend/app/rest/ShipController.java
  backend/src/main/java/com/smartship/backend/app/utility/ThresholdNotificationHandler.java
  frontend/src/components/dashboard/notification/NotificationsDetail.vue
  frontend/src/models/notifications/Notification.js
  frontend/src/pages/NotificationPage.vue
Due: deploy_fe, deploy_be

Notification bug fixes
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  frontend/src/pages/NotificationPage.vue
  frontend/src/services/NotificationService.js
Due: deploy_fe, deploy_be

Notification bug fixes
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  frontend/src/services/NotificationService.js
Due: deploy_fe, deploy_be

add shipsensor threshold setter modal
  backend/src/main/java/com/smartship/backend/app/models/ShipSensor.java
  backend/src/main/java/com/smartship/backend/app/rest/ShipController.java
  frontend/src/components/modals/EditAccountModal.vue
  frontend/src/components/modals/EditShipSensorsModal.vue
  frontend/src/pages/ManagerPage.vue
  frontend/src/services/shipAdapter.js
Due: deploy_fe, deploy_be

notification from profile page goes to notification page
  frontend/src/pages/ProfilePage.vue
Due: deploy_fe

Big fix
  backend/src/main/java/com/smartship/backend/app/repositories/UserManagementRepository.java
Due: deploy_be

Setting toast svg on success fix
  frontend/src/components/dashboard/settings/SettingToast.vue
Due: deploy_fe

Fixed email that is sent to also send login info
  frontend/src/pages/ManagerPage.vue
Due: deploy_fe

Notification done
  backend/src/main/java/com/smartship/backend/app/config/InitialDataImpl.java
  frontend/src/pages/NotificationPage.vue
Due: deploy_fe, deploy_be

Notification done
  backend/src/main/java/com/smartship/backend/app/config/InitialDataImpl.java
Due: deploy_be

Hide dashboard for non operators
  frontend/src/components/dashboard/SidebarComponent.vue
  frontend/src/pages/DashboardPage.vue
Due: deploy_fe

ResetPassword works
  backend/src/main/java/com/smartship/backend/app/repositories/UserManagementRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/UserManagementController.java
  frontend/src/pages/ResetPasswordPage.vue
  frontend/src/services/userManagementAdaptor.js
Due: deploy_fe, deploy_be

The connection between user and dashboard now gets severed when a user gets deleted
  backend/src/main/java/com/smartship/backend/app/models/Dashboard.java
  backend/src/main/java/com/smartship/backend/app/models/User.java
  backend/src/main/java/com/smartship/backend/app/rest/UserManagementController.java
Due: deploy_be

Add README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Bug in deleting managers now fixed
  backend/src/main/java/com/smartship/backend/app/rest/UserManagementController.java
Due: deploy_be

changed ship id retrieval
  frontend/src/components/dashboard/settings/UserInfoForm.spec.js
  frontend/src/components/dashboard/widgets/WidgetLibraryComponent.vue
  frontend/src/models/User.js
Due: deploy_fe

Path conditions:
  deploy_fe: any of: frontend/**/*
  deploy_be: any of: backend/**/*
