Repository dylanwe/smartship: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_TOKEN_FE}
  - cd frontend
  - railway up --service=smartship-fe-app -d

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_TOKEN_BE}
  - cd backend
  - railway up --service=smartship-be-app -d

Notification back end
  backend/src/main/java/com/smartship/backend/app/models/Notification.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  frontend/src/services/NotificationService.js
Due: deploy_fe, deploy_be

Custom views
  backend/src/main/java/com/smartship/backend/app/views/CustomJson.java
Due: deploy_be

Notification back end
  backend/src/main/java/com/smartship/backend/app/models/Notification.java
  backend/src/main/java/com/smartship/backend/app/models/User.java
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  backend/src/main/java/com/smartship/backend/app/views/CustomJson.java
Due: deploy_be

Notification back end
  backend/src/main/java/com/smartship/backend/app/models/Notification.java
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
Due: deploy_be

Ship on adminpanel now gone
  frontend/src/pages/AdminPage.vue
Due: deploy_fe

Managers can now edit operators
  backend/src/main/java/com/smartship/backend/app/rest/UserManagementController.java
  frontend/src/components/modals/EditAccountModal.vue
  frontend/src/pages/ManagerPage.vue
  frontend/src/services/userManagementAdaptor.js
Due: deploy_fe, deploy_be

Notification back end
  backend/src/main/java/com/smartship/backend/app/models/Notification.java
  backend/src/main/java/com/smartship/backend/app/models/User.java
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  frontend/src/pages/NotificationPage.vue
  frontend/src/services/NotificationService.js
Due: deploy_fe, deploy_be

Admins can now edit managers
  frontend/src/components/modals/EditAccountModal.vue
  frontend/src/pages/AdminPage.vue
Due: deploy_fe

Notification front end
  backend/src/main/java/com/smartship/backend/app/BackendApplication.java
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  frontend/src/App.vue
  frontend/src/pages/NotificationPage.vue
Due: deploy_fe, deploy_be

Dashboard frontend & backend changes
  backend/src/main/java/com/smartship/backend/app/BackendApplication.java
  backend/src/main/java/com/smartship/backend/app/models/DashboardItem.java
  backend/src/main/java/com/smartship/backend/app/models/Sensor.java
  backend/src/main/java/com/smartship/backend/app/models/SensorData.java
  backend/src/main/java/com/smartship/backend/app/models/ShipData.java
  backend/src/main/java/com/smartship/backend/app/models/ShipSensor.java
  backend/src/main/java/com/smartship/backend/app/models/Widget.java
  backend/src/main/java/com/smartship/backend/app/repositories/DashboardItemRepository.java
  backend/src/main/java/com/smartship/backend/app/repositories/SensorDataRepository.java
  backend/src/main/java/com/smartship/backend/app/repositories/ShipSensorRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/DashboardController.java
  backend/src/main/java/com/smartship/backend/app/rest/ShipController.java
  backend/src/test/java/com/smartship/backend/app/repositories/SensorDataRepositoryTest.java
  frontend/src/components/charts/BarChart.vue
  frontend/src/components/charts/HalfDonutChart.vue
  frontend/src/components/charts/LineChart.vue
  frontend/src/components/charts/SparkBarChart.vue
  frontend/src/components/charts/SparkLineChart.vue
  frontend/src/components/dashboard/widgets/WidgetLibraryComponent.vue
  frontend/src/components/dashboard/widgets/base/BigLineChart.vue
  frontend/src/components/dashboard/widgets/base/SmallLineChart.vue
  frontend/src/components/dashboard/widgets/battery/BatteryLevel.vue
  frontend/src/components/dashboard/widgets/battery/WidgetBattery.vue
  frontend/src/components/dashboard/widgets/temperature/WidgetTemperature.vue
  frontend/src/main.js
  frontend/src/models/dashboard/Dashboard.js
  frontend/src/pages/DashboardPage.vue
  frontend/src/pages/DashboardPageBackup.vue
  frontend/src/services/dashboardAdapter.js
  frontend/src/utils/ExtractDataSet.js
Due: deploy_fe, deploy_be

console logs removed
  frontend/src/components/dashboard/widgets/base/SmallLineChart.vue
  frontend/src/pages/DashboardPage.vue
  frontend/src/pages/DashboardPageBackup.vue
  frontend/src/services/dashboardAdapter.js
Due: deploy_fe

removed package-lock.json
  frontend/package-lock.json
Due: deploy_fe

merge
  package-lock.json
  package.json
Due: none

fixed date bug for editToDoModal
  frontend/src/components/modals/EditToDoModal.vue
  frontend/src/pages/ProfilePage.vue
  frontend/src/services/toDoAdapter.js
Due: deploy_fe

dashboard fix
  backend/src/main/java/com/smartship/backend/app/BackendApplication.java
  backend/src/main/java/com/smartship/backend/app/models/Dashboard.java
  backend/src/main/java/com/smartship/backend/app/models/User.java
  backend/src/main/java/com/smartship/backend/app/repositories/SensorDataRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/DashboardController.java
  frontend/src/components/dashboard/widgets/WidgetLibraryComponent.vue
  frontend/src/pages/DashboardPage.vue
  frontend/src/utils/ExtractDataSet.js
Due: deploy_fe, deploy_be

Changes by dylanweijgertze dashboard init
  backend/src/main/java/com/smartship/backend/app/BackendApplication.java
Due: deploy_be

removed initial data when testing
  backend/src/main/java/com/smartship/backend/app/BackendApplication.java
  backend/src/main/java/com/smartship/backend/app/config/InitialData.java
  backend/src/main/java/com/smartship/backend/app/config/InitialDataImpl.java
  backend/src/test/java/com/smartship/backend/BackendApplicationTests.java
  backend/src/test/java/com/smartship/backend/app/rest/AuthenticationControllerTest.java
  backend/src/test/resources/application.yml
  frontend/package-lock.json
Due: deploy_fe, deploy_be

dashboard ui makeover + layout grid
  frontend/src/components/dashboard/widgets/WidgetLibraryComponent.vue
  frontend/src/components/dashboard/widgets/base/SmallLineChart.vue
  frontend/src/pages/DashboardPage.vue
  frontend/src/utils/Grid.js
Due: deploy_fe

Changes by dylanweijgertze dashboard grid and ui
  frontend/src/components/dashboard/widgets/WidgetLibraryComponent.vue
  frontend/src/pages/DashboardPage.vue
Due: deploy_fe

dashboard ui makeover + layout grid
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: deploy_fe

create Grid class
  frontend/src/pages/DashboardPage.vue
  frontend/src/utils/Grid.js
Due: deploy_fe

Changes by dylanweijgertze dashboard grid and ui
  frontend/src/pages/DashboardPage.vue
Due: deploy_fe

added frontend testing
  frontend/package-lock.json
  frontend/package.json
  frontend/src/models/User.js
  frontend/src/models/User.spec.js
Due: deploy_fe

added test and more responsibility in the User model
  frontend/src/App.vue
  frontend/src/components/dashboard/settings/NotificationsForm.vue
  frontend/src/components/dashboard/settings/PasswordForm.vue
  frontend/src/components/dashboard/settings/SettingToast.vue
  frontend/src/components/dashboard/settings/UserInfoForm.spec.js
  frontend/src/components/dashboard/settings/UserInfoForm.vue
  frontend/src/models/User.js
  frontend/src/models/User.spec.js
  frontend/src/services/SessionSbService-InMemory.js
  frontend/src/services/SessionSbService.js
  frontend/src/services/UserAdapter-InMemory.js
  frontend/src/services/UserAdapter.js
Due: deploy_fe

added user service test
  frontend/src/services/UserAdapter-InMemory.js
  frontend/src/services/UserAdapter.spec.js
Due: deploy_fe

added author of user service test
  frontend/src/services/UserAdapter.spec.js
Due: deploy_fe

added package-lock.json to gitignore
  frontend/.gitignore
  frontend/package-lock.json
Due: deploy_fe

changed to teardown after each test
  backend/src/test/java/com/smartship/backend/app/repositories/NotificationPreferenceRepositoryTest.java
  backend/src/test/java/com/smartship/backend/app/repositories/RefreshTokenRepositoryTest.java
  backend/src/test/java/com/smartship/backend/app/repositories/UserRepositoryTest.java
Due: deploy_be

move widget library modala up
  frontend/src/pages/DashboardPage.vue
Due: deploy_fe

Notification sprint 4
  backend/src/main/java/com/smartship/backend/app/BackendApplication.java
  backend/src/main/java/com/smartship/backend/app/models/Notification.java
  backend/src/main/java/com/smartship/backend/app/models/User.java
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  frontend/src/pages/NotificationPage.vue
  frontend/src/services/NotificationService.js
Due: deploy_fe, deploy_be

added extra information when tests failed
  frontend/src/components/dashboard/settings/UserInfoForm.spec.js
  frontend/src/services/UserAdapter.spec.js
Due: deploy_fe

Ships table now on managerPanel. Manager can now add ships. Manager can now delete ships. Manager can now assign a user to a ship. AdminPanel is now broken. Will fix tomorrow.
  backend/src/main/java/com/smartship/backend/app/config/InitialDataImpl.java
  backend/src/main/java/com/smartship/backend/app/models/Ship.java
  backend/src/main/java/com/smartship/backend/app/models/User.java
  backend/src/main/java/com/smartship/backend/app/repositories/UserManagementRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/ShipController.java
  backend/src/main/java/com/smartship/backend/app/rest/UserManagementController.java
  frontend/src/components/modals/AddAccountModal.vue
  frontend/src/components/modals/AddShipModal.vue
  frontend/src/components/modals/EditAccountModal.vue
  frontend/src/components/modals/showOperatorsForShipModal.vue
  frontend/src/pages/AdminPage.vue
  frontend/src/pages/ManagerPage.vue
  frontend/src/services/shipAdapter.js
  frontend/src/services/userManagementAdaptor.js
Due: deploy_fe, deploy_be

Notification sprint 4
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
Due: deploy_be

show if widget is active
  frontend/src/components/dashboard/widgets/WidgetLibraryComponent.vue
Due: deploy_fe

reworked dashboard
  frontend/src/models/Dashboard.js
  frontend/src/models/dashboard/Dashboard.js
Due: deploy_fe

create confirm delete modal
  frontend/src/components/modals/DeleteWidgetModal.vue
Due: deploy_fe

use dashboard instance & delete modal
  frontend/src/pages/DashboardPage.vue
Due: deploy_fe

AdminPanel works again. Small changes to addAccountModal, EditAccountModal and showOperatorsForShipModal.
  backend/src/main/java/com/smartship/backend/app/rest/UserManagementController.java
  frontend/src/components/modals/AddAccountModal.vue
  frontend/src/components/modals/EditAccountModal.vue
  frontend/src/components/modals/showOperatorsForShipModal.vue
  frontend/src/pages/AdminPage.vue
Due: deploy_fe, deploy_be

create new dashboard when user doesnt have any
  backend/src/main/java/com/smartship/backend/app/rest/DashboardController.java
Due: deploy_be

fix dashboard data not initializing
  backend/src/main/java/com/smartship/backend/app/config/InitialDataImpl.java
Due: deploy_be

Path conditions:
  deploy_fe: any of: frontend/**/*
  deploy_be: any of: backend/**/*
