Repository dylanwe/smartship: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

.gitlab-ci.yml:

stages:
    - deploy

deploy_fe:    
    stage: deploy
    image: node:latest
    tags:
        - hva
    only:
        refs:
            - master
        changes:
          - "frontend/**/*"  
    script:
        - apt-get update && apt-get install -y curl
        - curl -fsSL https://railway.app/install.sh | sh
        - export RAILWAY_TOKEN=${RAILWAY_FE_TOKEN}
        - cd frontend
        - railway up --service=smartship-fe-app -d

deploy_be:
    stage: deploy
    image: node:latest
    tags:
        - hva
    only:
        refs:
            - master
        changes:
          - "backend/**/*"  
    script:
        - apt-get update && apt-get install -y curl
        - curl -fsSL https://railway.app/install.sh | sh
        - export RAILWAY_TOKEN=${RAILWAY_BE_TOKEN}
        - cd backend
        - railway up --service=smartship-be-app -d

added api in env
  frontend/.env.development
  frontend/.env.production
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
Due: deploy_fe

add env file to gitignore
  backend/.gitignore
Due: deploy_be

Notification back end
  backend/src/main/java/com/smartship/backend/app/models/Notification.java
Due: deploy_be

Notification back end
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
Due: deploy_be

removed package-lock
  backend/pom.xml
  frontend/package-lock.json
Due: deploy_fe, deploy_be

added more config for deployment
  backend/src/main/resources/application-development.yml
  backend/src/main/resources/application-production.yml
  backend/src/main/resources/application.yml
  frontend/.env.development
  frontend/.env.production
Due: deploy_fe, deploy_be

added env to gitignore
  frontend/.gitignore
Due: deploy_fe

allow railway frontend origin
  backend/src/main/java/com/smartship/backend/app/config/GlobalConfig.java
Due: deploy_be

changed branch from master to main and removed forbidden files/folders
  .gitlab-ci.yml
  package-lock.json
Due: none

test automatic deployment
  frontend/src/pages/UnknownPage.vue
Due: deploy_fe

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

test deployment again
  frontend/src/pages/UnknownPage.vue
Due: deploy_fe

added notifcation preferences in settings
  backend/src/main/java/com/smartship/backend/app/BackendApplication.java
  backend/src/main/java/com/smartship/backend/app/models/NotificationPreference.java
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationPreferenceRepository.java
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationSettingRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationSettingsController.java
  backend/src/main/java/com/smartship/backend/app/rest/UserController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/smartship/backend/app/repositories/NotificationPreferenceRepositoryTest.java
  frontend/.env.development
  frontend/.env.production
  frontend/src/components/dashboard/settings/NotificationsForm.vue
  frontend/src/pages/SettingsPage.vue
  frontend/src/services/userAdapter.js
Due: deploy_fe, deploy_be

added backend user validation
  backend/src/main/java/com/smartship/backend/app/exceptions/UnprocessableEntity.java
  backend/src/main/java/com/smartship/backend/app/models/User.java
  backend/src/main/java/com/smartship/backend/app/rest/UserController.java
  frontend/package-lock.json
  frontend/src/components/dashboard/settings/UserInfoForm.vue
  frontend/src/services/userAdapter.js
Due: deploy_fe, deploy_be

Fixed a bug where you could add an operator when clicking cancel.
  frontend/src/components/modals/AddOperatorModal.vue
  frontend/src/pages/ManagerPage.vue
Due: deploy_fe

Notification back end
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
Due: deploy_be

Manager has its own file's now
  backend/src/main/java/com/smartship/backend/app/repositories/ManagerRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/ManagerController.java
  backend/src/main/java/com/smartship/backend/app/rest/UserController.java
  frontend/src/App.vue
  frontend/src/pages/ManagerPage.vue
  frontend/src/services/managerAdapter.js
  frontend/src/services/userAdapter.js
Due: deploy_fe, deploy_be

Correct naming
  backend/src/main/java/com/smartship/backend/app/rest/ManagerController.java
  backend/src/main/java/com/smartship/backend/app/rest/UserController.java
  frontend/src/App.vue
  frontend/src/services/managerAdapter.js
Due: deploy_fe, deploy_be

Deleted a console.log
  frontend/src/services/managerAdapter.js
Due: deploy_fe

Now sends an email to a newly added user
  frontend/package.json
  frontend/src/App.vue
  frontend/src/pages/ManagerPage.vue
Due: deploy_fe

now commit correct app.vue
  frontend/src/App.vue
Due: deploy_fe

removed DS_Store
  .gitignore
  frontend/package-lock.json
Due: deploy_fe

added package-lock to .gitignore
  frontend/.gitignore
  frontend/package-lock.json
Due: deploy_fe

added user id check
  backend/src/main/java/com/smartship/backend/app/exceptions/UnauthorizedException.java
  backend/src/main/java/com/smartship/backend/app/exceptions/UnprocessableEntityException.java
  backend/src/main/java/com/smartship/backend/app/models/User.java
  backend/src/main/java/com/smartship/backend/app/rest/UserController.java
Due: deploy_be

backend
  backend/src/main/java/com/smartship/backend/app/BackendApplication.java
  backend/src/main/java/com/smartship/backend/app/models/ChartTypes.java
  backend/src/main/java/com/smartship/backend/app/models/Dashboard.java
  backend/src/main/java/com/smartship/backend/app/models/DashboardItem.java
  backend/src/main/java/com/smartship/backend/app/models/Sensor.java
  backend/src/main/java/com/smartship/backend/app/models/SensorData.java
  backend/src/main/java/com/smartship/backend/app/models/Ship.java
  backend/src/main/java/com/smartship/backend/app/models/ShipData.java
  backend/src/main/java/com/smartship/backend/app/models/Widget.java
  backend/src/main/java/com/smartship/backend/app/repositories/DashboardRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/DashboardController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/smartship/backend/app/repositories/DashboardRepositoryTest.java
  frontend/src/App.vue
  frontend/src/models/dashboard/Dashboard.js
  frontend/src/models/dashboard/Grid.js
  frontend/src/models/dashboard/Widget.js
  frontend/src/pages/DashboardPage.vue
  frontend/src/services/DashboardAdapter.js
Due: deploy_fe, deploy_be

remove unused comments
  frontend/src/main.js
Due: deploy_fe

add version
  backend/pom.xml
Due: deploy_be

rename
  frontend/src/App.vue
Due: deploy_fe

add init dashboard
  backend/src/main/java/com/smartship/backend/app/BackendApplication.java
Due: deploy_be

add Dashboard routes
  backend/src/main/java/com/smartship/backend/app/models/Dashboard.java
  backend/src/main/java/com/smartship/backend/app/models/Widget.java
  backend/src/main/java/com/smartship/backend/app/repositories/DashboardRepository.java
  backend/src/main/java/com/smartship/backend/app/repositories/WidgetRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/DashboardController.java
Due: deploy_be

Changed boat to ship
  frontend/src/pages/ManagerPage.vue
Due: deploy_fe

Admin panel done except ship. ManagerPanel and AdminPanel now use same adapter, controller and repository. Sidebar has links to both panels.
  backend/src/main/java/com/smartship/backend/app/repositories/UserManagementRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/UserManagementController.java
  frontend/src/App.vue
  frontend/src/components/dashboard/SidebarComponent.vue
  frontend/src/components/modals/AddAccountModal.vue
  frontend/src/pages/AdminPage.vue
  frontend/src/router/index.js
  frontend/src/services/userManagementAdaptor.js
Due: deploy_fe, deploy_be

added crud operations for the todo section in the profile page
  backend/src/main/java/com/smartship/backend/app/models/ToDo.java
  backend/src/main/java/com/smartship/backend/app/models/User.java
  backend/src/main/java/com/smartship/backend/app/repositories/ToDoRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/ToDoController.java
  frontend/package-lock.json
  frontend/src/App.vue
  frontend/src/components/modals/AddToDoModal.vue
  frontend/src/components/modals/EditToDoModal.vue
  frontend/src/pages/ManagerPage.vue
  frontend/src/pages/ProfilePage.vue
  frontend/src/services/toDoAdapter.js
Due: deploy_fe, deploy_be

added auth controller login test
  backend/src/main/java/com/smartship/backend/app/BackendApplication.java
  backend/src/main/java/com/smartship/backend/app/models/User.java
  backend/src/main/java/com/smartship/backend/app/repositories/UserRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/AuthenticationController.java
  backend/src/test/java/com/smartship/backend/app/rest/AuthenticationControllerTest.java
  backend/src/test/resources/application.yml
Due: deploy_be

Connect dashboard backend to frontend
  backend/src/main/java/com/smartship/backend/app/BackendApplication.java
  backend/src/main/java/com/smartship/backend/app/models/ChartTypes.java
  backend/src/main/java/com/smartship/backend/app/models/Dashboard.java
  backend/src/main/java/com/smartship/backend/app/models/DashboardItem.java
  backend/src/main/java/com/smartship/backend/app/models/Sensor.java
  backend/src/main/java/com/smartship/backend/app/models/SensorData.java
  backend/src/main/java/com/smartship/backend/app/models/Ship.java
  backend/src/main/java/com/smartship/backend/app/models/ShipData.java
  backend/src/main/java/com/smartship/backend/app/models/ShipSensor.java
  backend/src/main/java/com/smartship/backend/app/models/User.java
  backend/src/main/java/com/smartship/backend/app/models/Widget.java
  backend/src/main/java/com/smartship/backend/app/repositories/DashboardItemRepository.java
  backend/src/main/java/com/smartship/backend/app/repositories/SensorDataRepository.java
  backend/src/main/java/com/smartship/backend/app/repositories/SensorRepository.java
  backend/src/main/java/com/smartship/backend/app/repositories/ShipDataRepository.java
  backend/src/main/java/com/smartship/backend/app/repositories/ShipRepository.java
  backend/src/main/java/com/smartship/backend/app/repositories/ShipSensorRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/DashboardController.java
  backend/src/main/java/com/smartship/backend/app/rest/ShipController.java
  backend/src/main/java/com/smartship/backend/app/rest/UserController.java
  backend/src/main/java/com/smartship/backend/app/views/CustomJson.java
  backend/src/test/java/com/smartship/backend/app/repositories/DashboardRepositoryTest.java
  frontend/src/App.vue
  frontend/src/components/dashboard/widgets/WidgetLibraryComponent.vue
  frontend/src/components/dashboard/widgets/battery/WidgetBattery.vue
  frontend/src/components/dashboard/widgets/temperature/TemperatureItem.vue
  frontend/src/components/dashboard/widgets/temperature/WidgetTemperature.vue
  frontend/src/models/dashboard/Dashboard.js
  frontend/src/pages/DashboardPage.vue
  frontend/src/services/dashboardAdapter.js
  frontend/src/services/shipAdapter.js
Due: deploy_fe, deploy_be

dashboard frontend fixes
  frontend/src/pages/DashboardPage.vue
  frontend/src/services/dashboardAdapter.js
Due: deploy_fe

Small change to margin.
  frontend/src/pages/LoginPage.vue
Due: deploy_fe

Notification back end
  backend/src/main/java/com/smartship/backend/app/models/Notification.java
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/main/java/com/smartship/backend/app/utility/JWTRequestFilter.java
  frontend/src/pages/NotificationPage.vue
  frontend/src/services/NotificationService.js
Due: deploy_fe, deploy_be

Notification back end
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  frontend/src/services/NotificationService.js
Due: deploy_fe, deploy_be

Notification back end
  frontend/src/services/NotificationService.js
Due: deploy_fe
