Repository dylanwe/smartship: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

.gitlab-ci.yml:

stages:
    - deploy

deploy_fe:    
    stage: deploy
    image: node:latest
    tags:
        - hva
    only:
        refs:
            - main
        changes:
          - "frontend/**/*"  
    script:
        - apt-get update && apt-get install -y curl
        - curl -fsSL https://railway.app/install.sh | sh
        - export RAILWAY_TOKEN=${RAILWAY_TOKEN_FE}
        - cd frontend
        - railway up --service=smartship-fe-app -d

deploy_be:
    stage: deploy
    image: node:latest
    tags:
        - hva
    only:
        refs:
            - main
        changes:
          - "backend/**/*"  
    script:
        - apt-get update && apt-get install -y curl
        - curl -fsSL https://railway.app/install.sh | sh
        - export RAILWAY_TOKEN=${RAILWAY_TOKEN_BE}
        - cd backend
        - railway up --service=smartship-be-app -d

Also added a service test
  frontend/src/components/dashboard/settings/UserInfoForm.spec.js
  frontend/src/pages/AdminPage.vue
  frontend/src/services/userManagementAdapter-InMemory.js
  frontend/src/services/userManagementAdapter.spec.js
Due: deploy_fe

Added some java doc
  frontend/src/pages/ManagerPage.vue
  frontend/src/services/userManagementAdaptor.js
Due: deploy_fe

small refactoring of backend code
  backend/src/main/java/com/smartship/backend/app/config/InitialDataImpl.java
  backend/src/main/java/com/smartship/backend/app/rest/UserController.java
  backend/src/main/java/com/smartship/backend/app/utility/JWTRequestFilter.java
  backend/src/main/java/com/smartship/backend/app/utility/RefreshTokenUtil.java
Due: deploy_be

added tests
  backend/src/test/java/com/smartship/backend/app/rest/ToDoControllerTest.java
  frontend/src/components/modals/EditToDoModal.spec.js
  frontend/src/services/toDoAdapter.spec.js
Due: deploy_fe, deploy_be

added test 2.0
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/test/java/com/smartship/backend/app/rest/ToDoControllerTest.java
  frontend/src/components/dashboard/settings/UserInfoForm.spec.js
  frontend/src/components/modals/EditToDoModal.spec.js
  frontend/src/components/modals/EditToDoModal.vue
  frontend/src/pages/ProfilePage.vue
  frontend/src/services/UserAdapter-InMemory.js
  frontend/src/services/UserAdapter.spec.js
  frontend/src/services/toDoAdapter-InMemory.js
  frontend/src/services/toDoAdapter.js
  frontend/src/services/toDoAdapter.spec.js
Due: deploy_fe, deploy_be

Now also deletes all users after ToDo tests
  backend/src/test/java/com/smartship/backend/app/rest/ToDoControllerTest.java
Due: deploy_be

minor teeny tiny small update
  frontend/src/services/toDoAdapter.spec.js
Due: deploy_fe

added more doc for the frontend code
  frontend/src/components/dashboard/SidebarComponent.vue
  frontend/src/components/dashboard/settings/NotificationsForm.vue
  frontend/src/components/dashboard/settings/PasswordForm.vue
  frontend/src/components/dashboard/settings/UserInfoForm.vue
  frontend/src/models/User.js
  frontend/src/router/index.js
  frontend/src/services/UserAdapter-InMemory.js
  frontend/src/services/UserAdapter.js
Due: deploy_fe

documentation
  backend/src/main/java/com/smartship/backend/app/config/InitialDataImpl.java
  backend/src/main/java/com/smartship/backend/app/models/Notification.java
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  frontend/src/components/dashboard/notification/NotificationsDetail.vue
  frontend/src/pages/NotificationPage.vue
  frontend/src/services/NotificationService.js
Due: deploy_fe, deploy_be

wrote java and js doc, added fail messages to the ToDoRepositoryTest
  backend/package-lock.json
  backend/src/main/java/com/smartship/backend/app/repositories/ToDoRepository.java
  backend/src/main/java/com/smartship/backend/app/rest/NotificationController.java
  backend/src/main/java/com/smartship/backend/app/rest/ToDoController.java
  backend/src/test/java/com/smartship/backend/app/repositories/ToDoRepositoryTest.java
  backend/src/test/java/com/smartship/backend/app/rest/ToDoControllerTest.java
  frontend/src/components/modals/EditToDoModal.spec.js
  frontend/src/services/toDoAdapter-InMemory.js
  frontend/src/services/toDoAdapter.js
  frontend/src/services/toDoAdapter.spec.js
Due: deploy_fe, deploy_be

FE tests
  frontend/src/pages/NotificationPage.vue
  frontend/src/services/NotificationService-InMemory.js
  frontend/src/services/NotificationService.spec.js
Due: deploy_fe

FE tests
  frontend/src/components/dashboard/notification/NotificationDetail.spec.js
Due: deploy_fe

BE tests
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/test/java/com/smartship/backend/app/repositories/NotificationRepositoryTest.java
  backend/src/test/java/com/smartship/backend/app/rest/NotificationControllerTest.java
Due: deploy_be

add BE comments
  backend/src/main/java/com/smartship/backend/app/models/Dashboard.java
  backend/src/main/java/com/smartship/backend/app/models/DashboardItem.java
  backend/src/main/java/com/smartship/backend/app/repositories/ShipSensorRepository.java
  backend/src/test/java/com/smartship/backend/app/repositories/DashboardRepositoryTest.java
Due: deploy_be

update README.md
  README.md
Due: none

BE tests
  backend/src/main/java/com/smartship/backend/app/repositories/NotificationRepository.java
  backend/src/test/java/com/smartship/backend/app/repositories/NotificationRepositoryTest.java
Due: deploy_be

add javadocs
  backend/src/main/java/com/smartship/backend/app/rest/ShipController.java
Due: deploy_be

add tests & javadocs
  backend/src/main/java/com/smartship/backend/app/rest/ShipController.java
  backend/src/test/java/com/smartship/backend/app/repositories/DashboardRepositoryTest.java
  backend/src/test/java/com/smartship/backend/app/repositories/SensorDataRepositoryTest.java
  backend/src/test/java/com/smartship/backend/app/rest/DashboardControllerTest.java
  backend/src/test/java/com/smartship/backend/app/rest/ShipControllerTest.java
  frontend/src/components/charts/LineChart.vue
  frontend/src/components/dashboard/widgets/WidgetLibraryComponent.vue
  frontend/src/components/modals/DeleteWidgetModal.vue
  frontend/src/components/modals/EditShipSensorsModal.vue
  frontend/src/models/Dashboard.js
  frontend/src/pages/DashboardPage.vue
  frontend/src/services/dashboardAdapter-InMemory.js
  frontend/src/services/dashboardAdapter.js
  frontend/src/services/dashboardAdapter.spec.js
  frontend/src/utils/ExtractDataSet.js
  frontend/src/utils/Grid.spec.js
Due: deploy_fe, deploy_be

add tests & javadocs
  frontend/src/components/modals/DeleteWidgetModal.spec.js
  frontend/src/utils/Grid.spec.js
Due: deploy_fe

add tests & javadocs
  backend/src/main/java/com/smartship/backend/app/rest/DashboardController.java
  backend/src/test/java/com/smartship/backend/app/repositories/DashboardRepositoryTest.java
  backend/src/test/java/com/smartship/backend/app/rest/DashboardControllerTest.java
  backend/src/test/java/com/smartship/backend/app/rest/ShipControllerTest.java
Due: deploy_be

Update README.md
  README.md
Due: none

Add files via upload
  frontend/src/assets/img/dashboard.png
Due: deploy_fe

Delete dashboard.png
  frontend/src/assets/img/dashboard.png
Due: deploy_fe

Add files via upload
  frontend/src/assets/img/smartship.png
Due: deploy_fe
